/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
    @apply p-3; 
    @apply rounded;
    @apply bg-black;
    @apply text-white;
    @apply my-4;
    @apply transform;
    @apply hover:scale-105;
    @apply duration-200;
}


:root {
    --primary: white;
    /* --primary: #1f8391; */
    /* --primary-text: #f6f6f6; */
    --primary-text: #000;
    --secondary-text: #3a3a3a;
    --accent: #006f9b;
    --light-accent: #207064;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css?family=Playfair+Display');
}

html {
  font-family: 'Playfair Display';
}

/* Default Font Settings */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}
/* --- Default Font Settings */

.heroSVG {
    transform: scale(2);
}

.nextSVG {
    fill: white;
}