/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
    @apply p-3; 
    @apply rounded;
    @apply bg-black;
    @apply text-white;
    @apply my-6;
    @apply sm:my-4;
    @apply transform;
    @apply hover:scale-105;
    @apply duration-200;
}


:root {
    --primary: white;
    /* --primary: #1f8391; */
    /* --primary-text: #f6f6f6; */
    --primary-text: #000;
    --secondary-text: #3a3a3a;
    --accent: #006f9b;
    --light-accent: #207064;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css?family=Playfair+Display');
}

html {
  font-family: 'Playfair Display';
}

/* Default Font Settings */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

@media only screen and (min-width: 412px) {
    h1 {
    font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }
}

/* --- Default Font Settings */

.heroSVG {
    transform: scale(2);
}

.nextSVG {
    fill: white;
}

.CloseMenu {
    animation: menuCloser 1s cubic-bezier(0,0,0.2,1);
}

pre {
    background: rgb(228, 228, 228);
    padding: 6px;
    border-radius: 4px;
    margin: 10px auto;
    font-size: 12px;
}

code {
    background: rgb(228, 228, 228);
    padding: 0 4px;
}

@keyframes menuCloser {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}